<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
</head>
<body>
{% block content %}
<div>
    <h1>
        {{ film.name }}
    </h1>
        <p>{{ film.description }}</p>
    <div>
        <div>
            <video id="myVideo" controls>
                <source src="movie.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <button onclick="playVideo()">Play</button>
            <button onclick="pauseVideo()">Pause</button>
        </div>

        <video-js id="myVideo" class="vjs-default-skin" controls preload="auto" data-setup='{}'>
            <source src='../static/static_dirs/image/logo.png' type="video/mp4">
        </video-js>
    </div>
</div>
{% endblock content %}

</body>
</html>