<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
</head>
<body>
{#{% block content %}#}
{##}
{#<div class="site-container">#}
{#    <header class="header">#}
{#        <div class="header__body">#}
{#            <div class="header__container _container">#}
{#                <div class="header__logo logo _img-holder _img-holder_contain" data-scroll_to="body">#}
{#                    <img src="./img/logo-d798ab8dfc.png" alt="MultiCinema">#}
{#                </div>#}
{#                <nav class="header__nav nav">#}
{##}
{#                    <ul class="nav__list _list-reset" data-da=".menu-burger__body, 768, first">#}
{#                        <li class="nav__item link"><a href="#popfilm" data-scroll_to="#popfilm"#}
{#                                                      class="nav__link _link-reset">Фильмы</a></li>#}
{#                        <li class="nav__item link"><a href="#forum" data-scroll_to="#forum"#}
{#                                                      class="nav__link _link-reset">Треды</a></li>#}
{#                        <li class="nav__item link"><a href="#news" data-scroll_to="#news" class="nav__link _link-reset">Новости</a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </nav>#}
{#                <ul class="header__actions actions-header _list-reset">#}
{#                    <li class="actions-header__item">#}
{#                        <a href="#" class="actions-header__link _link-reset">#}
{#                            <svg class="actions-header__search actions-header__icon">#}
{#                                <use xlink:href="./img/sprite-da8f701e97.svg#search"></use>#}
{#                            </svg>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="actions-header__item">#}
{#                        <a href="#" class="actions-header__link _link-reset">#}
{#                            <svg class="actions-header__search actions-header__icon">#}
{#                                <use xlink:href="./img/sprite-da8f701e97.svg#auth"></use>#}
{#                            </svg>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="header__burger burger" data-burger="">#}
{#                        <button type="button" data-burger_button="" class="burger__icon _btn-reset">#}
{#                            <span></span>#}
{#                        </button>#}
{#                        <div class="burger__menu menu-burger _list-reset" data-burger_body="">#}
{#                            <ul class="menu-burger__body">#}
{#                            </ul>#}
{#                        </div>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </header>#}
{#    <main class="page">#}
{#        <section class="page__hero hero" id="hero">#}
{#            <div class="hero__container _container">#}
{#                <h1 class="hero__title">Фильмы, сериалы, мультфильмы в&nbsp;одном месте!</h1>#}
{#                <p class="hero__subtitle">Всегда хотели узнать где можно дешевле посмотреть то&nbsp;или иное#}
{#                    произведение исскуства? Просто обсудить какой-то либо кинофраншизу? А&nbsp;может просто посмотреть#}
{#                    последние новости в&nbsp;сфере кино? <br> Тогда, данный сайт был сделан для вас!</p>#}
{#                <a href="#" class="hero__btn btn btn_primary _btn-reset _link-reset">Посмотреть каталог фильмов</a>#}
{#            </div>#}
{#        </section>#}
{#        <section class="page__popfilm popfilm" id="popfilm">#}
{#            <div class="popfilm__container _container">#}
{#                <div class="popfilm__title title">#}
{#                    <div class="title__body">#}
{#                        <h2 class="title__title">Самый популярный фильм на неделе</h2>#}
{#                        <a href="#" class="title__link link _link-reset">Посмотреть остальные фильмы</a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="popfilm__body">#}
{#                    <article class="popfilm__film-card film-card film-card_1">#}
{#                        <h3 class="_hidden">Supernatural</h3>#}
{#                        <div class="film-card__body">#}
{#                            <div class="film-card__image _img-holder">#}
{#                                <img src="./img/mainpage/top_films/thumb_02-1dbead1a56.jpg" alt="Supernatural">#}
{#                            </div>#}
{#                            <a href="#" class="film-card__btn btn btn_primary _btn-reset">Посмотреть</a>#}
{#                        </div>#}
{#                    </article>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
{#        <section class="page__watchlater watchlater" id="watchlater">#}
{#            <div class="watchlater__container _container">#}
{#                <div class="watchlater__title title">#}
{#                    <div class="title__body">#}
{#                        <h2 class="title__title">Вы хотели посмотреть</h2>#}
{#                        <a href="#" class="title__link link _link-reset">Полный список</a>#}
{#                    </div>#}
{#                </div>#}
{#                <ul class="watchlater__cards _list-reset">#}
{#                    <li>#}
{#                        <article class="watchlater__film-card film-card film-card_1">#}
{#                            <h3 class="_hidden">Supernatural</h3>#}
{#                            <div class="film-card__body">#}
{#                                <div class="film-card__image _img-holder">#}
{#                                    <img src="./img/mainpage/top_films/thumb_01-c7bec72a74.jpg" alt="Supernatural">#}
{#                                </div>#}
{#                                <a href="#" class="film-card__btn btn btn_primary _btn-reset">Посмотреть</a>#}
{#                            </div>#}
{#                        </article>#}
{#                    </li>#}
{#                    <li>#}
{#                        <article class="watchlater__film-card film-card film-card_1">#}
{#                            <h3 class="_hidden">Supernatural</h3>#}
{#                            <div class="film-card__body">#}
{#                                <div class="film-card__image _img-holder">#}
{#                                    <img src="./img/mainpage/top_films/thumb_01-c7bec72a74.jpg" alt="Supernatural">#}
{#                                </div>#}
{#                                <a href="#" class="film-card__btn btn btn_primary _btn-reset">Посмотреть</a>#}
{#                            </div>#}
{#                        </article>#}
{#                    </li>#}
{#                    <li>#}
{#                        <article class="watchlater__film-card film-card film-card_1">#}
{#                            <h3 class="_hidden">Supernatural</h3>#}
{#                            <div class="film-card__body">#}
{#                                <div class="film-card__image _img-holder">#}
{#                                    <img src="./img/mainpage/top_films/thumb_01-c7bec72a74.jpg" alt="Supernatural">#}
{#                                </div>#}
{#                                <a href="#" class="film-card__btn btn btn_primary _btn-reset">Посмотреть</a>#}
{#                            </div>#}
{#                        </article>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </section>#}
{#        <section class="page__news news" id="news">#}
{#            <div class="news__container">#}
{#                <div class="news__body">#}
{#                    <div class="news__wrapper _container">#}
{#                        <div class="news__title title">#}
{#                            <div class="title__body">#}
{#                                <h2 class="title__title">Новости</h2>#}
{#                                <a href="#" class="title__link link _link-reset">Читать все</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="news__main">#}
{#                            <article class="news__news-card news-card news-card_main">#}
{#                                <div class="news-card__background">#}
{#                                    <img class="news-card__img" src="./img/mainpage/news/thumb_02-b48928cd8a.jpg"#}
{#                                         alt="The CW заказал пилотные серии «Рыцарей Готэма» и спин-оффа о родителях Винчестеров">#}
{#                                </div>#}
{#                                <div class="news-card__info">#}
{#                                    <h3 class="news-card__title"><a href="#" class="link _link-reset">The CW заказал#}
{#                                        пилотные серии «Рыцарей Готэма» и спин-оффа о родителях Винчестеров</a></h3>#}
{#                                </div>#}
{#                            </article>#}
{#                        </div>#}
{#                        <div class="news__other">#}
{#                            <ul class="news__list _list-reset">#}
{#                                <li>#}
{#                                    <article class="news__news-card news-card">#}
{#                                        <div class="news-card__img _img-holder"><img#}
{#                                                src="./img/mainpage/news/thumb_01-a5c2defaf3.jpg"#}
{#                                                alt="Дисней выпустит первый хоррор"></div>#}
{#                                        <div class="news-card__info">#}
{#                                            <h3 class="news-card__title"><a href="#" class="link _link-reset">Дисней#}
{#                                                выпустит первый хоррор</a></h3>#}
{#                                            <p class="news-card__text">Равным образом рамки и место обучения кадров#}
{#                                                обеспечивает широкому кругу (специалистов) участие в формировании#}
{#                                                дальнейших направлений развития...</p>#}
{#                                        </div>#}
{#                                    </article>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <article class="news__news-card news-card">#}
{#                                        <div class="news-card__info">#}
{#                                            <h3 class="news-card__title"><a href="#" class="link _link-reset">Дисней#}
{#                                                выпустит первый хоррор</a></h3>#}
{#                                            <p class="news-card__text">Равным образом рамки и место обучения кадров#}
{#                                                обеспечивает широкому кругу (специалистов) участие в формировании#}
{#                                                дальнейших направлений развития...</p>#}
{#                                        </div>#}
{#                                    </article>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <article class="news__news-card news-card">#}
{#                                        <div class="news-card__img _img-holder"><img#}
{#                                                src="./img/mainpage/news/thumb_01-a5c2defaf3.jpg"#}
{#                                                alt="Дисней выпустит первый хоррор"></div>#}
{#                                        <div class="news-card__info">#}
{#                                            <h3 class="news-card__title"><a href="#" class="link _link-reset">Дисней#}
{#                                                выпустит первый хоррор</a></h3>#}
{#                                            <p class="news-card__text">Равным образом рамки и место обучения кадров#}
{#                                                обеспечивает широкому кругу (специалистов) участие в формировании#}
{#                                                дальнейших направлений развития...</p>#}
{#                                        </div>#}
{#                                    </article>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
{#        <section class="page__forum forum" id="forum">#}
{#            <div class="forum__container">#}
{#                <div class="forum__body">#}
{#                    <div class="forum__wrapper _container">#}
{#                        <div class="forum__title title">#}
{#                            <div class="title__body">#}
{#                                <h2 class="title__title">Форум</h2>#}
{#                                <a href="#" class="title__link link _link-reset">Все треды</a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <ul class="forum__list _list-reset">#}
{#                            <li class="forum__item forum__item_bg">#}
{#                                <article class="forum__card-forum card-forum">#}
{#                                    <div class="card-forum__img _img-holder">#}
{#                                        <img src="./img/mainpage/forum/thumb_01-c206834353.jpg"#}
{#                                             alt="КиноВселенная “Майора Грома”">#}
{#                                    </div>#}
{#                                    <div class="card-forum__info">#}
{#                                        <h3 class="card-forum__title">КиноВселенная “Майора Грома”</h3>#}
{#                                        <p class="card-forum__text">В данном треде, Вы сможете узнать намного больше про#}
{#                                            киновселенную от Bubble про великого майора полиции - Игоря Грома</p>#}
{#                                        <a class="card-forum__link _link-reset">Подробнее#}
{#                                            <svg class="card-forum__more card-forum__icon">#}
{#                                                <use xlink:href="./img/sprite-da8f701e97.svg#more"></use>#}
{#                                            </svg>#}
{#                                        </a>#}
{#                                    </div>#}
{#                                </article>#}
{#                            </li>#}
{#                            <li class="forum__item forum__item_sl">#}
{#                                <article class="forum__card-forum card-forum">#}
{#                                    <div class="card-forum__info">#}
{#                                        <h3 class="card-forum__title">Каким будет новый фильм от марвел?</h3>#}
{#                                        <p class="card-forum__text">Скоро на экраны выходит новый фильм от Sony Marvel,#}
{#                                            хотелось бы порассуждать, а каким он будет? Если у вас есть какие-либо#}
{#                                            заметки, милости прошу к нашему шалашу...</p>#}
{#                                        <a class="card-forum__link _link-reset">Подробнее#}
{#                                            <svg class="card-forum__more card-forum__icon">#}
{#                                                <use xlink:href="./img/sprite-da8f701e97.svg#more"></use>#}
{#                                            </svg>#}
{#                                        </a>#}
{#                                    </div>#}
{#                                </article>#}
{#                            </li>#}
{#                            <li class="forum__item forum__item_sl">#}
{#                                <article class="forum__card-forum card-forum">#}
{#                                    <div class="card-forum__info">#}
{#                                        <h3 class="card-forum__title">Каким будет новый фильм от марвел?</h3>#}
{#                                        <p class="card-forum__text">Скоро на экраны выходит новый фильм от Sony Marvel,#}
{#                                            хотелось бы порассуждать, а каким он будет? Если у вас есть какие-либо#}
{#                                            заметки, милости прошу к нашему шалашу...</p>#}
{#                                        <a class="card-forum__link _link-reset">Подробнее#}
{#                                            <svg class="card-forum__more card-forum__icon">#}
{#                                                <use xlink:href="./img/sprite-da8f701e97.svg#more"></use>#}
{#                                            </svg>#}
{#                                        </a>#}
{#                                    </div>#}
{#                                </article>#}
{#                            </li>#}
{#                            <li class="forum__item forum__item_bg">#}
{#                                <article class="forum__card-forum card-forum">#}
{#                                    <div class="card-forum__img _img-holder">#}
{#                                        <img src="./img/mainpage/forum/thumb_01-c206834353.jpg"#}
{#                                             alt="КиноВселенная “Майора Грома”">#}
{#                                    </div>#}
{#                                    <div class="card-forum__info">#}
{#                                        <h3 class="card-forum__title">КиноВселенная “Майора Грома”</h3>#}
{#                                        <p class="card-forum__text">В данном треде, Вы сможете узнать намного больше про#}
{#                                            киновселенную от Bubble про великого майора полиции - Игоря Грома</p>#}
{#                                        <a class="card-forum__link _link-reset">Подробнее#}
{#                                            <svg class="card-forum__more card-forum__icon">#}
{#                                                <use xlink:href="./img/sprite-da8f701e97.svg#more"></use>#}
{#                                            </svg>#}
{#                                        </a>#}
{#                                    </div>#}
{#                                </article>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
{#        <section class="page__membership membership" id="membership">#}
{#            <div class="membership__container _container">#}
{#                <h2 class="_hidden">Подписка</h2>#}
{#                <form data-test="" data-form="" action="#" class="form-membership form membership__form">#}
{#                    <div class="form-membership__sending form__sending _hidden">#}
{#                        <div class="loading">#}
{#                            <div></div>#}
{#                            <div></div>#}
{#                            <div></div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <fieldset class="form-membership__body form__body _fieldset-reset">#}
{#                        <legend class="form-membership__title">Подпишитесь на&nbsp;нашу рассылку прямо сейчас, всего за#}
{#                            <span class="form-membership__price">9.99$/мес</span>, и&nbsp;будьте в&nbsp;курсе всех#}
{#                            новостей, скидок на&nbsp;подписки и&nbsp;понижении цен на&nbsp;фильмы.#}
{#                        </legend>#}
{#                        <div class="form-membership__item">#}
{#                            <input type="text" data-form_require="" data-form_input_email="" name="email" id="email"#}
{#                                   placeholder="email@example.com" class="form-membership__input">#}
{#                            <label for="email" class="form-membership__label">Ваш email</label>#}
{#                            <button type="submit" data-submit=""#}
{#                                    class="form-membership__btn btn btn_secondary _btn-reset">Подписаться#}
{#                            </button>#}
{#                        </div>#}
{#                        <p class="form-membership__agreement">Нажимая на кнопку “Подписаться”, вы принимаете правила <a#}
{#                                href="#" class="form-membership__link link">пользовательского соглашения</a></p>#}
{#                    </fieldset>#}
{#                </form>#}
{#            </div>#}
{#        </section>#}
{#    </main>#}
{#    <footer class="footer">#}
{#        <div class="footer__container _container">#}
{#            <div class="footer__logo logo _img-holder _img-holder_contain" data-scroll_to="body">#}
{#                <img src="./img/logo-d798ab8dfc.png" alt="MultiCinema">#}
{#            </div>#}
{#            <nav class="footer__nav nav">#}
{#                <ul class="nav__list _list-reset">#}
{#                    <li class="nav__item link"><a href="#popfilm" data-scroll_to="#popfilm"#}
{#                                                  class="nav__link _link-reset">Фильмы</a></li>#}
{#                    <li class="nav__item link"><a href="#forum" data-scroll_to="#forum" class="nav__link _link-reset">Треды</a>#}
{#                    </li>#}
{#                    <li class="nav__item link"><a href="#news" data-scroll_to="#news" class="nav__link _link-reset">Новости</a>#}
{#                    </li>#}
{#                </ul>#}
{#            </nav>#}
{#        </div>#}
{#    </footer>#}
{#</div>#}
{#<script src="./js/global-b0f0e34eb5.js"></script>#}
{##}
{#{% endblock content %}#}

</body>
</html>