<div class="container">
    <header class="navbar">
        <div class="navbar-logo">
            <a href="#">MultiCinema</a>
        </div>
        <ul class="navbar-menu">
            <li><a href="#films">Фильмы</a></li>
            <li><a href="#threads">Треды</a></li>
            <li><a href="#news">Новости</a></li>
        </ul>
    </header>
    <main>
        <section id="films" style="height: 20vh; padding: 20px;"></section>
<!--        <section id="threads" style="height: 100vh; padding: 20px;">Раздел "Треды"</section>-->
<!--        <section id="news" style="height: 100vh; padding: 20px;">Раздел "Новости"</section>-->
    </main>
</div>
