<div class="container">
    <header>
        <div class="header__body gap" >
            <div class="header__container _container">
                <div class="logo _img-holder" data-scroll_to="body">
                    <div class="multi-logo"></div>
                </div>
                <nav class="header__nav nav " >
                    <ul class="gap white">
{#                        <li class="nav__item link">#}
                            <a href="/static">
                                Фильмы
                            </a>
{#                        </li>#}
{#                        <li class="nav__item link">#}
                            <a href="/static">
                                Треды
                            </a>
{#                        </li>#}
{#                        <li class="nav__item link">#}
                            <a href="/static">
                                Новости
                            </a>
{#                        </li>#}
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>
